In [1]:
#read the string
test_str = input()

# when a character in the string is a uppercase, cnt will count the number of #continuous uppercase characters from that index
cnt=0
# max_run stores the final maximum count which is to be displayed as answer
max_run=0

for i in range(0,len(test_str)):
    # updating run count on uppercase 
    if test_str[i].isupper():
        cnt=cnt+1
    # on encountering lowercase, update the cnt with 0 and start counting the continuous uppercase run again. max_run  already has the count of this run stored.
    #updating the value of max_run with cnt, if the current ‘cnt’ is greater than the previous ‘max_run’
    else:
        if cnt>=max_run:
            max_run=cnt
        cnt=0
#for boundary cases - when there is a potential longest substring at the end of the string        
if cnt>=max_run:
    max_run=cnt
    
# printing result 
print(max_run)

I am the Master of Programming PYTHON
6

In [9]:
Input =[(45,77), (88,87), (67,98), (33,31)]

Input.sort(reverse=True)

Input

[(88, 87), (67, 98), (45, 77), (33, 31)]

In [11]:
Input[0]

(88, 87)

In [26]:
input_list1 =[(55,77), (34,90), (67,100), (90,0)]

result = sorted(input_list1,key=lambda x: x[1],reverse=True)

print(result)

[(67, 100), (34, 90), (55, 77), (90, 0)]

In [31]:
input_str = input()
cleanup_list = [x for x in input_str if x.isalnum()]
cleanup_str = ''.join(cleanup_list)
flag = False
for i in cleanup_str:
    if int(cleanup_str) % int(i) != 0:
        print('Sad Number')
        flag = True
        break
if flag == False:
    print('Happy Number')

1124
Happy Number

In [32]:
input_str = input()
cleanup_list = [x for x in input_str if x.isalnum()]

1124

In [33]:
cleanup_list

['1', '1', '2', '4']

In [6]:
input_str = input()
clean_list = [x for x in input_str if x.isalnum()]
clean_str = ''.join(clean_list)

flag = False

for i in clean_str:
    if int(clean_str) % int(i) !=0:
        print('Sad Number')
        flag = True
        break
if flag == False:
    print('Happy Number')

1124
Happy Number

In [3]:
list1 = [3,6,9,12,15,18,21]
list2 = [4,8,12,16,20,24,28]

list3.append(list1[::3])


print(list3)

[6, 12, 18, [3, 12, 21], [3, 12, 21]]

In [22]:
list1 = [3,6,9,12,15,18,21]
list2 = [4,8,12,16,20,24,28]

In [29]:
list3 = list1[1::2]
list4 = list2[::2]
list3.extend(list4)

In [31]:
list3

[6, 12, 18, 4, 12, 20, 28]

In [32]:
firstname = 'Sunny'
lastname  = 'Sharma'
print(f'My name is {firstname} {lastname}')

My name is Sunny Sharma

In [33]:
s = 'python'
print(s[:8])

python

In [36]:
dict1 = {'Barcelona':'Messi' , 'Real Madrid': 'Benzema', 'PSG': 'Neymar'}

dict2 = [['Barcelona','Griezmann'], ['PSG','Ramos']]

In [38]:
dict1.update(dict2)

In [39]:
dict1

{'Barcelona': 'Griezmann', 'Real Madrid': 'Benzema', 'PSG': 'Ramos'}

In [40]:
import ast
#reading the input dictionary
input_dictionary = input()
convert_dictionary = ast.literal_eval(input_dictionary)

#reading the input list
input_list = input()
convert_list = ast.literal_eval(input_list)

{'Barcelona':'Messi' , 'Real Madrid': 'Benzema', 'PSG': 'Neymar'}
[['Barcelona','Griezmann'], ['PSG','Ramos']]

In [42]:
convert_dictionary.update(convert_list)

In [43]:
convert_dictionary

{'Barcelona': 'Griezmann', 'Real Madrid': 'Benzema', 'PSG': 'Ramos'}

In [48]:
s = 'Programmin#@g1234'

s = list(s)

c_change = []

for i in range(len(s)):
    if s[i].isupper()==True:
        c_change.append(s[i].lower())
    elif s[i].islower()==True:
        c_change.append(s[i].upper())
    elif s[i]>='0':
        c_change[0].replace(s[i],'')
    elif s[i].isalpha()==True:
        c_change.append(s[i])
    else:
        None
    result = ''

result = result.join(c_change)

print(result)

pROGRAMMING

In [49]:
list1 = ['10','5','6','9','7']
list2 = ['10','9.8','7.2','1.66','4.3']

In [54]:
import ast

team_list = ast.literal_eval(input())
new_employee_list = ast.literal_eval(input())
count = 0

for i,j in zip(team_list, new_employee_list):
    if float(i)<float(j):
        count+=1


if count>=2:
    print('Selected')
else:
    print('Rejected')

['10','5','6','9','7']
['10','9.8','7.2','1.66','4.3']
Selected

In [15]:
team_list = ['10', '5', '6', '9', '7']
new_employee_list = ['10', '9.8', '7.2', '1.66',  '4.3']
count = 0

for i,j in zip(team_list, new_employee_list):
    if float(i)<float(j):
        count+=1


if count>=2:
    print('Selected')
else:
    print('Rejected')

Selected

In [16]:
a = [5,4,7,5,8,9]

b = [6,9,3,4,2,8]

cnt = 0

for x,y in zip(a,b):
    if float(x)<float(y):
        cnt = cnt + 1
if cnt >= 3:
    print('Selected')
else:
    print('Rejected')

Rejected

In [58]:
a = {'a':10,'b':8}
b = {'d':6,'c':4}

a.update(b)
print(a)

{'a': 10, 'b': 8, 'd': 6, 'c': 4}

In [3]:
test_str = input()
cnt=0
max_run=0

for i in range(0,len(test_str)):
    if test_str[i].isupper():
        cnt=cnt+1
    else:
        if cnt>=max_run:
            max_run=cnt
        cnt=0

if cnt>=max_run:
    max_run=cnt
    

print(max_run)

if it rains today then I would order an umbrella.
1

### This is used by Rajan  enter  ESC + m to utilize this area
 

<hr/>

In [31]:
X = 12

if (X > 10 & X < 15):
    print('YES')
else:
    print('No')

YES

In [43]:
score = int(input())
if score >= 90:
   print('A')
elif score >=80:
   print('B')
elif score >= 70:
   print('C')
elif score >= 60:
   print('D')
else:
   print('F')

35
F

In [44]:
if True or True:
    if False and True or False:
        print('A')
    elif False and False or True and True:
        print('B')
    else:
        print('C')
else:
    print('D')

B

In [51]:
input_str = 'oslo'
vowel = 'aeiouAEIOU'
if input_str[0] in vowel:
    print('YES')
#Use capital YES or NO
else:
    print('NO')

YES

In [16]:
import sys

pin = int(input())
count = 0

while pin != 1234:
    if count >= 3:
        sys.exit('Too many attempt')
    pin = int(input('Incorrect Please try again '))
    count += 1
    
print("Pin successfully entered")

1234
Pin successfully entered

In [21]:
pin = int(input())
count = 0

while pin != 1234:
    if count < 3:
        pin = int(input('Incorrect Please try again '))
        count += 1
    else:
        print('Incorrect PIN Error: Too many attempt')
        break
if pin == 1234:
    print("Pin successfully entered")
else:
    None

2313
Incorrect Please try again 2131
Incorrect Please try again 2131
Incorrect Please try again 21
Incorrect PIN Error: Too many attempt

In [22]:
string = 'New York'

for char in string:
    print(char,end = ":")

N:e:w: :Y:o:r:k:

In [33]:
num = input("Enter the num ")
num1 = []
for n in num:
    num1.append(int(n))
print(num1)
print(sum(num1))

Enter the num 31071988
[3, 1, 0, 7, 1, 9, 8, 8]
37

In [36]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3=[]
for i in range(len(L2)):
    L3.append(L2[i] -L1[i])
print(L3)

[-2, -6, -15, -4, -8]

In [46]:
inp1 = ['VARMA', 'raj', 'Gupta', 'SaNdeeP']

inp2 = ','.join(inp1).title()
inp3 = inp2.split(',')
inp3

['Varma', 'Raj', 'Gupta', 'Sandeep']

In [48]:
input = ['VARMA', 'raj', 'Gupta', 'SaNdeeP']

result = []

for char in input:
    result.append(char.capitalize())
    
print(result)

['Varma', 'Raj', 'Gupta', 'Sandeep']

In [49]:
l = []
for i in range(-100, 0):
    if(i % 2 == 0):
        l.append(i)
l

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [50]:
sorted(set(range(-2, -101, -2)))

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [52]:
list(range(-100, -1, 2))

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [53]:
d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for i in d:
    print(i)

0
1
2

In [4]:
x = int(input())
result = []
for n in range(1,x+1):
    result.append(n*n)
print(result)

4
[1, 4, 9, 16]

In [14]:
Input = ['wood','old','apple','big','item','euphoria']

result = []
vowel = ('a','A','e','E','i','I','o','O','u','U')

for i in Input:
    if i[0].startswith(vowel):
        result.append(i)
print(result)

['old', 'apple', 'item', 'euphoria']

In [16]:
input_list = list(range(1,100))
output_dict = {}

for val in input_list:
    if val % 3 == 0:
        output_dict[val] = val**3
        
print(output_dict)

{3: 27, 6: 216, 9: 729, 12: 1728, 15: 3375, 18: 5832, 21: 9261, 24: 13824, 27: 19683, 30: 27000, 33: 35937, 36: 46656, 39: 59319, 42: 74088, 45: 91125, 48: 110592, 51: 132651, 54: 157464, 57: 185193, 60: 216000, 63: 250047, 66: 287496, 69: 328509, 72: 373248, 75: 421875, 78: 474552, 81: 531441, 84: 592704, 87: 658503, 90: 729000, 93: 804357, 96: 884736, 99: 970299}

In [18]:
output_dict= {val : val**3 for val in input_list if val % 3 == 0}
output_dict

{3: 27,
 6: 216,
 9: 729,
 12: 1728,
 15: 3375,
 18: 5832,
 21: 9261,
 24: 13824,
 27: 19683,
 30: 27000,
 33: 35937,
 36: 46656,
 39: 59319,
 42: 74088,
 45: 91125,
 48: 110592,
 51: 132651,
 54: 157464,
 57: 185193,
 60: 216000,
 63: 250047,
 66: 287496,
 69: 328509,
 72: 373248,
 75: 421875,
 78: 474552,
 81: 531441,
 84: 592704,
 87: 658503,
 90: 729000,
 93: 804357,
 96: 884736,
 99: 970299}

In [19]:
print([i+j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [20]:
d = {x.upper(): x*3 for x in 'acbd'}
print(d)

{'A': 'aaa', 'C': 'ccc', 'B': 'bbb', 'D': 'ddd'}

In [21]:
Input = ['wood','old','apple','big','item','euphoria']

result = []
vowel = ('a','A','e','E','i','I','o','O','u','U')

for i in Input:
    if i[0] in vowel:
        result.append(i)
print(result)

['old', 'apple', 'item', 'euphoria']

In [27]:
Input = ['wood','old','apple','big','item','euphoria']

vowel = ('a','A','e','E','i','I','o','O','u','U')

result = [i for i in Input if i[0] in vowel]

print(result)

['old', 'apple', 'item', 'euphoria']

In [28]:
ordinary_dict ={}

for i in range(2,21):
    if i % 2 == 0:
        ordinary_dict[i] = i**2

print(ordinary_dict)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324, 20: 400}

In [29]:
updated_dict = {i : i**2 for i in range(2,21) if i % 2 ==0}
print(updated_dict)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324, 20: 400}

In [1]:
x = list(range(1,21))
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [2]:
y = [i for i in x if i%2==0]
y

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [6]:
def factorial(n):
    fact = 1
    for i in range(1,n+1):
        fact = fact * i
        print(fact)
    return fact

factorial(5)

1
2
6
24
120

120

In [7]:
def square(x,y):
    return x**y

square(2,3)

8

In [8]:
def list_diff(list1,list2):
    list3 = []
    for  i in range(0, len(list1)):
        list3.append(list1[i] - list2[i])
    return list3

L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]

print(list_diff(L1, L2))

[2, 6, 15, 4, 8]

In [9]:
func(x, y):
    z = x * y + x + y

func(2)

SyntaxError: invalid syntax (<ipython-input-9-462c0c3fc660>, line 1)

In [10]:
def func(x, y = 1):
    z = x * y + x + y
    return z

func(2, func(3))

23

In [11]:
def func(x, y):
    z = x * y + x + y
    return z

func(2, func(3))

TypeError: func() missing 1 required positional argument: 'y'

In [14]:
def func(x = 1 ,y = 2):
    z = x * y + x + y
    return z

func(3)

11

In [18]:
L1 = [2, 7, 8, 10, 3]

def func(y):
    return y**2- 2 * y - 2

ans_list = [func(x) for x in L1 ]
ans_list

[-2, 33, 46, 78, 1]

In [19]:
min = (lambda x, y: x if x < y else y)
min(101*99, 102*98)

9996

In [2]:
#Map Function

#map(functin, data)

a = [5,3,2,6,9]

map(lambda x:x*x, a)

In [12]:
print(list(map(lambda x:x*x, a)))
print(tuple(map(lambda x:x*x, a)))
print(set(map(lambda x:x*x, a)))

[25, 9, 4, 36, 81]
(25, 9, 4, 36, 81)
{4, 36, 9, 81, 25}

In [8]:
list1 = ['Santa Cruz','Santa fe','Mumbai','Delhi']

In [4]:
list2 = []
for i in list1:
    if i.startswith('S'):
        list2.append(i)
list2

['Santa Cruz', 'Santa fe']

In [11]:
list1 = ['Santa Cruz','Santa fe','Mumbai','Delhi']
word = list(map(lambda x : x[0].startswith('S'), list1))
count = word.count(True)

In [12]:
count

2

In [14]:
list1 = ['Santa Cruz','Santa fe','Mumbai','Delhi']

count = sum(map(lambda x: x[0] == 'S', list1))
print(count)

2

In [1]:
a = list(range(100))

In [3]:
sample_list = [6, 98, 34, 45, 64, 7, 2, 5, 78, 90, 324, 111, 657, 438]
final = [n+13 for n in sample_list]
final

[19, 111, 47, 58, 77, 20, 15, 18, 91, 103, 337, 124, 670, 451]

In [4]:
6//2

3

In [5]:
98//7

14

In [16]:
sample_list = [6, 98, 34, 45, 64, 7, 2, 5, 78, 90, 324, 111, 657, 438]

# write code here 
final = {}
for num in sample_list:
    f_list = []
    for i in range (1,num+1):
        if num%i ==0:
            f_list.append(i)
    final[num]=f_list      
final

{6: [1, 2, 3, 6],
 98: [1, 2, 7, 14, 49, 98],
 34: [1, 2, 17, 34],
 45: [1, 3, 5, 9, 15, 45],
 64: [1, 2, 4, 8, 16, 32, 64],
 7: [1, 7],
 2: [1, 2],
 5: [1, 5],
 78: [1, 2, 3, 6, 13, 26, 39, 78],
 90: [1, 2, 3, 5, 6, 9, 10, 15, 18, 30, 45, 90],
 324: [1, 2, 3, 4, 6, 9, 12, 18, 27, 36, 54, 81, 108, 162, 324],
 111: [1, 3, 37, 111],
 657: [1, 3, 9, 73, 219, 657],
 438: [1, 2, 3, 6, 73, 146, 219, 438]}

In [23]:
sample_sentence = "Pack my box with five dozen liquor jugs"

word=[]

for w in sample_sentence:
    word.append(w)
print(set(word))    
print(len(set(word)))

{'P', 't', 'f', 'e', 'y', 'm', 'h', ' ', 'j', 'c', 'k', 'v', 's', 'n', 'l', 'z', 'o', 'u', 'g', 'a', 'b', 'w', 'x', 'r', 'i', 'q', 'd'}
27

In [25]:
operation = input("Enter the operation ")
x = int(input("Enter the num for x "))
y = int(input("Enter the num for y "))
def calc(operation, x,y):
    if operation == "add":
        return x+y
    elif operation == "subtract":
        return x-y
    elif operation == "div":
        return x/y
    elif operation == "multiply":
        return x*y
print(f"The arithmetic operation of {x} {operation} {y} is {calc(operation,x,y)}")

Enter the operation multiply
Enter the num for x 6
Enter the num for y 3
The arithmetic operation of 6 multiply 3 is 18

In [28]:
a = '54 25 65'
b = a.split(' ')
max(b)

'65'

In [29]:
w = ['Santa Cruz','Santa fe','Mumbai','Delhi']

In [30]:
count = sum(map(lambda x: x[0] == 'S', w))
print(count)

2

In [37]:
w = [ ['Ankur','Avik','Kiran','Nitin'],['Narang','Sarkar','R','Sareen']]
x = w[0]
y= w[-1]

In [38]:
def combine(l_item1,l_item2):
    l_item3=l_item1+" "+ l_item2
    return l_item3
name=[]
for i in range(len(x)):
    name.append(combine(x[i],y[i]))
print(name)

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

In [40]:
result = list(map(lambda x,y: x+' '+y,x,y))
result

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

In [41]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [43]:
answer = list(filter(lambda n: n%5==0,list1))
answer

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [44]:
list2 = ['soap','sharp','shy','silent','ship','summer','sheep']

In [48]:
answer = list(filter(lambda x : (x[0]=='s' and x[-1]=='p'),list2))
answer

['soap', 'sharp', 'ship', 'sheep']

In [49]:
word = ['All','you','have','to','fear','is','fear','itself']

In [56]:
from functools import reduce
answer = reduce(lambda x,y: x+" "+y,word)
answer

'All you have to fear is fear itself'

In [57]:
num = [65,76,87,23,12,90,99]

In [58]:
answer = reduce(lambda x,y:x if x>y else y,num)
answer

99

In [59]:
input_string = "I love Python"
k = [(i.upper(), len(i)) for i in input_string.split(' ')]
print(k)

[('I', 1), ('LOVE', 4), ('PYTHON', 6)]

In [60]:
var = [i**2 for i in range(5)]
print(var)

[0, 1, 4, 9, 16]

In [61]:
l1=[1,2,3,7]
l2=[4,5,6,9]
[x+y for x in l1 for y in l2]

[5, 6, 7, 10, 6, 7, 8, 11, 7, 8, 9, 12, 11, 12, 13, 16]

In [62]:
def function(n):
  n=n+1
 
n=2
print(function(2))

None

In [63]:
x=10
def func(x):
   x=20
print(x)
 
print(x)

10
10

In [64]:
def samplefunc(msg,i=3):
  print(msg*i)
 
samplefunc('python',4)
samplefunc('program')

pythonpythonpythonpython
programprogramprogram

In [65]:
f=lambda x:bool(x%2)
print(f(100)* f(101))

0

In [66]:
l=(1, -2, -3, 4, 5)
def f1(x):
    return x//2
m1=map(f1, l)
print(list(m1))

[0, -1, -2, 2, 2]

In [67]:
from functools import reduce
numbers = [-1, 2, -5, 3, 8,-2, 1,-4,-2]
sum = reduce(lambda x, y: x + y, numbers)
print(sum)

0

In [68]:
sample=[-4,2,5,-3]
ans=map(lambda x: x*2, sample)
print(ans)

<map object at 0x0000026158581790>

In [69]:
from functools import reduce
print(list(reduce(lambda x,y:x+y,range(5,15))))

TypeError: 'int' object is not iterable

In [70]:
import functools
lis=[1, 2, 3, 4, 5]
m=functools.reduce(lambda x, y:x if x<y else y, lis)
print(m)

lis=[1, 2, 3, 4, 5]
c=lis[0]
for i in range(len(lis)-1):
    if lis[i]<c:
       c=lis[i]
print(c)

1
1

In [71]:
letters = ('d','i','a','s')
ans = list(map(lambda word: f"{word}x", letters))
print(ans)

['dx', 'ix', 'ax', 'sx']

In [73]:
def sf(a):
    return a%4==0 and a%8!=0
m=filter(sf, range(10, 31))
print(len(list(m)))

3

In [74]:
num = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

In [81]:
answer = list(filter(lambda x: x%2==0,num))
answer

[22, 54, 62]

In [86]:
num = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

answer = list(map(lambda x: x*3,num))

In [87]:
answer

[15, 21, 66, 291, 162, 186, 231, 69, 219, 183]

import ast,sys

input_str = sys.stdin.read()

input_list = ast.literal_eval(input_str)

In [96]:
name = ['Ronaldo', 'Cristiano', 'Rakesh', 'Ronak']

answer = list(map(lambda x: x[::-1].upper(),name))
answer

['ODLANOR', 'ONAITSIRC', 'HSEKAR', 'KANOR']

In [97]:
dict1 = [{ "name" : "Mohan", "rank" : 2}, { "name" : "Mandeep", "rank" : 2 }, { "name" : "Merut" , "rank" : 2 }]

In [98]:
answer = sorted(dict1,key=lambda x: (x["rank"],x["name"]))

In [99]:
answer

[{'name': 'Mandeep', 'rank': 2},
 {'name': 'Merut', 'rank': 2},
 {'name': 'Mohan', 'rank': 2}]

In [107]:
a = sorted(dict1,key=lambda x: (x["rank"],x["name"]))

In [108]:
a

[{'name': 'Mandeep', 'rank': 2},
 {'name': 'Merut', 'rank': 2},
 {'name': 'Mohan', 'rank': 2}]

In [109]:
list1 = ['Arkam', 'Bairstow', 'Cairy', 'Darpan'] 
list2 = ['ARKAM', 'Bairstow', 'Cairy', 'Darpan', 'Dhoni', 'Sachin']
list3 = ['arkam', 'bairstow', 'Cheteshwar', 'Dinesh']

In [110]:
R1 = list(map(lambda x: x.lower(),list1))
R2 = list(map(lambda x: x.lower(),list2))
R3 = list(map(lambda x: x.lower(),list3))
# write the code here
final = []
for i in R1:
    if (i in R2) and (i in R3):
        final.append(i)

print(final)

['arkam', 'bairstow']

In [111]:
dict1 = [{4: 'Viking', 9: 'Happy', 10: 'Tony', 2: 'Rogers'}, {12: 'Vikram', 19: 'Vipan'}, {3: 'Kohli'}, {1: 'Ronaldo', 29: 'Harish', 7: 'Ganesh'}]

In [113]:
dict1

[{4: 'Viking', 9: 'Happy', 10: 'Tony', 2: 'Rogers'},
 {12: 'Vikram', 19: 'Vipan'},
 {3: 'Kohli'},
 {1: 'Ronaldo', 29: 'Harish', 7: 'Ganesh'}]

In [114]:
sorted_list = sorted(dict1, key=lambda x:len(x),reverse=True)
print(sorted_list)

[{4: 'Viking', 9: 'Happy', 10: 'Tony', 2: 'Rogers'}, {1: 'Ronaldo', 29: 'Harish', 7: 'Ganesh'}, {12: 'Vikram', 19: 'Vipan'}, {3: 'Kohli'}]