In [1]:
print("hello")

hello

In [2]:
def print_name(first,last):
    print("Hello %s %s! You just delved into python."%(first,last))

first_name = input()
last_name = input()
print_name(first_name,last_name)

Sunny
Sharma
Hello Sunny Sharma! You just delved into python.

In [9]:
def print_name(first,age):
    print(f"Hello %s, you are %s years old."%(first,age))

first_name = input()
age = int(input())
print_name(first_name,age)

Sunny
34
Hello Sunny, you are 34 years old.

In [5]:
#mutation

string = "abracadabra"
l = list(string)
l[5] = 'k'
string = ''.join(l)
string

'abrackdabra'

In [8]:
#split and join or we can say replace

def split_and_join(line):
    line=line.split(" ")
    line="-".join(line)
    return line

a = "This is my home"
print(a)
split_and_join(a)

This is my home

'This-is-my-home'

In [11]:
#calculate days between dates


from datetime import date

today = date.today()
print(today)

2022-08-18

In [12]:
today = date.today()-1
print(today)

TypeError: unsupported operand type(s) for -: 'datetime.date' and 'int'

In [17]:
from datetime import date
dt1 = date.today()
dt2 = date(1988, 7, 31)

age = ((dt1-dt2).days)
age

12436

In [29]:
#calculate age

from datetime import date

def  age(birthdate):
    today = date.today()
    age = today.year - birthdate.year - ((today.month, today.day)<(birthdate.month, birthdate.day))
    return age

#your_birthdate = int(input("Enter your birthday in this formate (yyyy,m,d) "))

#birthdate = date(your_birthdate)

print(age(date(1988,7,31)))

34

In [43]:
#swap the letter

def swap_case(s):
    case_change=[]
    for i in range(len(s)):
        if (s[i].isupper())==True:
            case_change.append(s[i].lower())
        elif (s[i].islower()==True):
            case_change.append(s[i].upper())
        else:
            case_change.append(s[i])    
        stri=''
    return stri.join(case_change)

my = "pEOPLE ARE pUBLiCLY pOLITE"

swap_case(my)

'People are PublIcly Polite'

In [33]:
i = range(10)

In [34]:
i

range(0, 10)

In [35]:
i = list(i)
i

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
i = range(1, 10)
i = list(i)
i

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
i = range(0,10,2)
i = list(i)
i

[0, 2, 4, 6, 8]

In [63]:
#maths calculator

def calc(operation,x,y):
    if operation == 'add':
        return x+y
    elif operation == 'sub':
        return x-y
    elif operation == 'multi':
        return x*y
    elif operation == 'div':
        return x/y

operation = input("Enter the operation like add, sub, multi, div here ")
x = float(input("Enter the first num "))
y = float(input("Enter the second num "))
print(f"The result of {x} {operation} {y} is",int(calc(operation,x,y)))

Enter the operation like add, sub, multi, div here multi
Enter the first num 6993.6
Enter the second num 26.35
The result of 6993.6 multi 26.35 is 184281

In [46]:
5//2

2

In [47]:
6//2

3

In [48]:
6/2

3.0

In [49]:
5//2

2

In [50]:
5/2

2.5

In [1]:
ab = [1,4,5,6,6]
bc = [4,6,2,6,2]

count = list(map(lambda x,y:x+y,ab,bc))
count

[5, 10, 7, 12, 8]

In [11]:
def myfunc(a):
    return len(a)

a = ('apple','banana','cherry')

print(a)

x = list(map(myfunc,(a)))

print(x)

('apple', 'banana', 'cherry')
[5, 6, 6]

In [8]:
x = int(input("Enter the num "))
def num(x):
    if x%2==0:
        print(f"num {x} is even")
        return True
    else:
        print(f"num {x} is odd")
        return False
print(num(x))

Enter the num 697
num 697 is odd
False

In [ ]:
ab = [1,4,5,6,6]
bc = [4,6,2,6,2]

count = list(map(lambda x,y:x+y,ab,bc))
count

In [9]:
a = int(input("Enter the range start num "))
b = int(input("Enter the range end num "))
c = int(input("Enter the step num "))

ab = list(range(a,b,c))
bc = list(range((a+1),(b+1),c))

count = list(map(lambda x,y:x+y,ab,bc))
count

Enter the range start num 0
Enter the range end num 10
Enter the step num 2

[1, 5, 9, 13, 17]

In [11]:
a = int(input("Enter the range start num "))
b = int(input("Enter the range end num "))
c = int(input("Enter the step num "))

ab = list(range(a,b,c))
bc = list(range((a+1),(b+1),c))
bc

Enter the range start num 0
Enter the range end num 10
Enter the step num 2

[1, 3, 5, 7, 9]

In [29]:
word = 'I love Python programming'

In [16]:
word

'I love Python'

In [31]:
word[7:13]

'Python'

In [33]:
a = word[-18:-12]
a

'Python'

In [34]:
x = 'len'
x[len(x * 2) - 5]

'e'

In [35]:
a = "Hello World!"
print(a.split(" ")) # returns ['Hello', 'World!']

['Hello', 'World!']

In [37]:
b = a.split(' ')

In [38]:
b

['Hello', 'World!']

In [39]:
b[-1]

'World!'

In [41]:
string = 'I love breaking bad'

a = string.count('a')

In [42]:
a

2

In [13]:
input_str = 'bmaunmdbraai'

message1 = input_str[0::2]
message2 = input_str[1:len(input_str):2]
print(message1.strip('#')+ "," + message2.strip('#'))

bandra,mumbai

In [16]:
input_str = 'bmaunmdbraai'
message1 = input_str[0:-1:2]
message2 = input_str[1:len(input_str):2]
print(message1.strip('#') + "," + message2.strip('#'))

bandra,mumbai

In [17]:
number='159'

print(type(number))

<class 'str'>

In [18]:
name = Alex
print(type(name))

NameError: name 'Alex' is not defined

In [20]:
a = 8.9
b = 2
c = 5
print(a//b//c)

0.0

In [21]:
4 // 8 + ( 2.5 + 7.5 ) - 6 * 3

-8.0

In [22]:
4//8

0

In [23]:
5 % ( 2 + 12 ) ** 3 - 60 // ( 7 + 1 ) * 2

-9

In [24]:
string_1 = "I love to code in python"
print( string_1[7:13])

to cod

In [27]:
sentence = 'This sentence needs to be split into words'

print(sentence.split()[5])

split

In [28]:
len = 'python'
print(len(len))

TypeError: 'str' object is not callable

In [29]:
x=10
if x%2==0
print("even number")
else
print("odd number")

SyntaxError: invalid syntax (<ipython-input-29-79462c89dddd>, line 2)

In [30]:
if 4+9<10:
  print("true")
else:
  print("false")
print("true")

false
true

In [31]:
x=67
if x>50:
  if x>90:
    print("excellent")
  else:
    if x>80:
      print("good")
    else:
      print("fair")
else:
  if x>30:
    print("average")
  else:
    print("poor")

fair

In [32]:
a='pqrstuv'
i='j'
while i in a:
  print(i)

In [33]:
i = 16
while False:
    if i%2 == 0:
        break
    print(i)
    i += 2

In [49]:
s="Upgrad"

for i in range(len(s)):
    if s[i] in 'a':
        s[i]='*'

print(s)

TypeError: 'str' object does not support item assignment

In [35]:
inp=input()

type(inp)

1

str

In [48]:
x = input()

if (x>='a'and x<='z'):
    print('Alphabet')
elif (x>='0' and x<='9'):
    print('Integer')
else:
    None

9
Integer

In [50]:
p=input()

#Checking whether the given input is an alphabet or an integer
if (inp.isalpha()):
    print("Alphabet")
    
else:
    print("Integer")

9
Integer

In [47]:
charcter = input()
order_input = ord(charcter)
previous_character = chr(order_input - 1)
next_character = chr(order_input +1 )

print(f'{previous_character}\n{next_character}')

6
5
7

In [53]:
#Take input
ch=input()

#get the Ascii value of the previous character using ord(ch)-1 and print the character equivalent
print(chr(ord(ch)-1))

#get the Ascii value of the next character using ord(ch)+1 and print the character equivalent
print(chr(ord(ch)+1))

6
5
7

In [69]:
def rem_vowel(string):
    vowels = ['a','e','i','o','u']
    result = [letter for letter in string if letter.lower() not in vowels]
    result = ''.join(result)
    print(result)
    
string = 'I am python'
rem_vowel(string)

 m pythn

In [93]:
string = 'I am python'

vowels = ['a','e','i','o','u']

result = [i for i in string if i.lower() not in vowels]

result = ''.join(result)

print(result)

 m pythn

In [ ]:
s='I am python'

s_new=''

for i in range(len(s)):
    if s[i] not in 'AEIOUaeiou':
        s_new = s_new+s[i]
        
print(s_new)

In [89]:
a,b,c= input().split()

a=int(a)
b=int(b)
c=int(c)

if a+b>c and a+c>b and b+c>a:
    print('Valid')
else:
    print('Invalid')

3 4 5
Valid

In [82]:
a,b,c= input().split()

3 4 5

In [87]:
a = int(a)

In [88]:
a

3

In [102]:
num = int(input())

# Iterate 10 times from i = 1 to 10
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [109]:
string = 'Python Programming'

character = 'p'

result = string.lower().count(character) + string.upper().count(character)

result

2

In [ ]:
num = int(input())

# Iterate 10 times from i = 1 to 10
for i in range(len(num)):
    i = i+i
print(i)

In [17]:
num = '541'

num = [int(i) for i in str(num)]

print(num)

sum = 0

for x in (num):
    sum = sum + x
print(sum)

[5, 4, 1]
10

In [19]:
num = 541

num = str(541)

num = [int(i) for i in str(num)]

print(num)

sum = 0

for x in num:
    sum = sum + x
print(sum)

[5, 4, 1]
10

In [33]:
n = 4556

n = str(n)

n = [int(i) for i in str(n)]

print(n)

for i in n:
    odd_digits = []
    non_zero = []
    zeros = []
    if i%2!=0:
        odd_digits.append(i)
    elif i%2==0 and i!=0:
        non_zero.append(i)
    elif i==0:
        zeros.append(i)

print(odd_digits)

[4, 5, 5, 6]
[]

In [34]:
n = 4556

n = str(n)

n = [int(i) for i in str(n)]

print(n)

for i in n:
    odd_digits = []
    non_zero = []
    zeros = []
    if i%2!=0:
        n = 4556

n = str(n)

n = [int(i) for i in str(n)]

print(n)

[4, 5, 5, 6]

In [35]:
n = 4556

n = str(n)

n = [int(i) for i in str(n)]

print(n)

[4, 5, 5, 6]

In [41]:
odd_digits = n.append(9)

print(odd_digits)

None

In [48]:
n = 1030

n = str(n)

n = [int(i) for i in str(n)]

non_zero_even = []
odd_num = []
for i in n:
    if i%2==0 and i!=0:
        non_zero_even.append(i)
    elif i%2!=0:
        odd_num.append(i)

print("Number of odd digits:",len(odd_num))
print("Number of non-zero even digits:",len(non_zero_even))
print("Number of zeros:",n.count(0))

[1, 0, 3, 0]
Number of odd digits: 2
Number of non-zero even digits: 0
Number of zeros: 2

In [67]:
s = 'Programmin#@g1234'

s = list(s)

c_change = []

for i in range(len(s)):
    if s[i].isupper()==True:
        c_change.append(s[i].lower())
    elif s[i].islower()==True:
        c_change.append(s[i].upper())
    elif s[i]>='0':
        c_change[0].replace(s[i],'')
    elif s[i].isalpha()==True:
        c_change.append(s[i])
    else:
        None
    result = ''

result = result.join(c_change)

print(result)

pROGRAMMING

In [73]:
#the above one in more compress way
s = 'I am top @ 1236'

s = list(s)

c_change = []

for i in range(len(s)):
    if s[i].isalpha()==True:
        if s[i].isupper()==True:
            c_change.append(s[i].lower())
        elif s[i].islower()==True:
            c_change.append(s[i].upper())
        else:
            None
        result = ''
    else:
        None
result = result.join(c_change)
print(result)

iAMTOP

In [75]:
#how upgrad did the above program

#Take input
input_string='I am top @ 1236'

#Initialising an empty string that will store the modified resultant string
new_str=''

# looping through the input_string where 'c' is each character of the string
for c in input_string:

    # if the character 'c' is an alphabet, implement the code following otherwise skip that character and go for next iteration
    if (c.isalpha()):
        
        # if the character 'c' is an uppercase, convert it into lowercase otherwise convert the character into uppercase
        if c.isupper():
            new_str=new_str+c.lower()
        else:
            new_str=new_str+c.upper()
        

print(new_str)

iAMTOP

In [6]:
A = ['Orange','Strawberry','Mango']
A

['Orange', 'Strawberry', 'Mango']

In [7]:
A.sort()
print(A)

['Mango', 'Orange', 'Strawberry']

In [8]:
A = ['Orange','Strawberry','Mango']
C = sorted(A)
print(A)
print(C)

['Orange', 'Strawberry', 'Mango']
['Mango', 'Orange', 'Strawberry']

In [9]:
print(A[-3])

Orange

In [10]:
word = ['1','2','3','4']
word[ : ] = [ ] 
print(word)

[]

In [11]:
L = ['one','two','three', 'four', 'five', 'six']
print(sorted(L))
print (L)

['five', 'four', 'one', 'six', 'three', 'two']
['one', 'two', 'three', 'four', 'five', 'six']

In [14]:
input_list=['SAS', 'R', 'PYTHON', 'SPSS']

input_list.remove('SPSS')

input_list

['SAS', 'R', 'PYTHON']

In [15]:
input_list.append('SPARK')
input_list

['SAS', 'R', 'PYTHON', 'SPARK']

In [21]:
A = ('A',193,'193')
print(A)
type(A)

('A', 193, '193')

tuple

In [23]:
input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]

input_list[-1][0]

'Python'

In [24]:
input_str = 'Kumar_Ravi_003'

input_str = input_str.split('_')

input_str

['Kumar', 'Ravi', '003']

In [28]:
list1='SAS', 'R', 'PYTHON', 'SPSS'

In [29]:
type(list1)

tuple

In [31]:
list1

('SAS', 'R', 'PYTHON', 'SPSS')

In [32]:
list1[0]

'SAS'

In [37]:
t = 2,3.2,4,5

In [38]:
t

(2, 3.2, 4, 5)

In [40]:
print(sum(t))
print(min(t))
print(max(t))

14.2
2
5

In [42]:
t = ("disco", 12, 4.5)
min(t)

TypeError: '<' not supported between instances of 'int' and 'str'

In [48]:
t = 2,3, 5,10,-1
t

(2, 3, 5, 10, -1)

In [49]:
t.sort()
t

AttributeError: 'tuple' object has no attribute 'sort'

In [51]:
t= 1,4,'disco',('Python','Java')
t

(1, 4, 'disco', ('Python', 'Java'))

In [54]:
t[3][1]

'Java'

In [55]:
t = (1,2,3,4) #packing

(a,b,c,d) = t #unpacking

In [57]:
d

4

In [58]:
t = ()
print(dir(t))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [62]:
t = (1, 2, 4, 3)
print(len(t))

4

In [67]:
input_tuple = ('Monty Python', 'British', 1969)

tuple_2 = input_tuple + ('Python',)

tuple_2

('Monty Python', 'British', 1969, 'Python')

In [71]:
x = (Hello,'2','3')
type(x)

NameError: name 'Hello' is not defined

In [1]:
x = 1,2,2,
x

(1, 2, 2)

In [2]:
a = [1,2,3,4,5,6,6,9,8,7]
a

[1, 2, 3, 4, 5, 6, 6, 9, 8, 7]

In [3]:
a = set(a)
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [4]:
A = [5, 1, 3, 4, 4, 5, 6, 7]

B = [3, 3, 5, 5, 1 ,7 ,2]

In [8]:
A = set(A)
B = set(B)
answer = list(A&B)
answer

[1, 3, 5, 7]

In [9]:
nums = set([1,1,2,3,3,3,4])
print(len(nums))

4

In [25]:
d= {'USA':'USD','French':'Euros','India':'INR'}
d

{'USA': 'USD', 'French': 'Euros', 'India': 'INR'}

In [27]:
d['India']

'INR'

In [29]:
d['INR']

KeyError: 'INR'

In [14]:
sorted(d)

['French', 'India', 'USA']

In [15]:
d.values()

dict_values(['USD', 'Euros', 'INR'])

In [21]:
d.keys()

dict_keys(['USA', 'French', 'India'])

In [17]:
d.update({'India':'Rupee'})
d

{'USA': 'USD', 'French': 'Euros', 'India': 'Rupee'}

In [18]:
Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}
Employee_data

{101: ['Shiva', 24, 'Content Strategist'],
 102: ['Udit', 25, 'Content Strategist'],
 103: ['Sonam', 28, 'Sr Manager'],
 104: ['Ansari', 29, 'Product Lead'],
 105: ['Huzefa', 32, 'Project Manager']}

In [24]:
profession = Employee_data[104][-1]
profession

'Product Lead'

In [33]:
d = ('a':1, 'b':2)
type(d)

SyntaxError: invalid syntax (<ipython-input-33-8553e05ced97>, line 1)

In [39]:
dict_1 = {"Python":40, "R":45}
dict_1

{'Python': 40, 'R': 45}

In [42]:
dict_1 = {"Python":40, "R":45}

del dict_1['R']

dict_1

{'Python': 40}

In [43]:
d = {'Python':40, 'R':45}
print(list(d.keys()))

['Python', 'R']

In [44]:
input_dict={'Name': 'Monty', 'Profession': 'Singer' }
input_dict

{'Name': 'Monty', 'Profession': 'Singer'}

In [48]:
input_dict.get('Name','NA')

'Monty'

In [49]:
input_dict.get('Label','NA')

'NA'

In [50]:
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}
input_dict

{'Jack Dorsey': 'Twitter',
 'Tim Cook': 'Apple',
 'Jeff Bezos': 'Amazon',
 'Mukesh Ambani': 'RJIO'}

In [53]:
answer = list(sorted(input_dict.values()))
answer

['Amazon', 'Apple', 'RJIO', 'Twitter']

In [64]:
processed_orders = [1152, 1154, 1155, 1156, 1157, 1160, 1161, 1162, 1166, 1169, 1170, 1172, 1176, 1050, 1178, 1051, 1052, 1054, 1058, 1060, 1061, 1062, 1065, 1066, 1067, 1068, 1069, 1076, 1077, 1080, 1081, 1083, 1091, 1085, 1088, 1089, 1131, 1092, 1094, 1095, 1099, 1102, 1103, 1104, 1106, 1107, 1108, 1109, 1111, 1117, 1119, 1121, 1150, 1128, 1129, 1136, 1137, 1139, 1140, 1141, 1144, 1148, 1124]

# List of order IDs which are returned
returned_orders = [1153, 1158, 1159, 1163, 1164, 1165, 1167, 1168, 1171, 1173, 1174, 1175, 1177, 1053, 1055, 1056, 1057, 1059, 1063, 1064, 1070, 1071, 1072, 1073, 1074, 1075, 1078, 1079, 1082, 1084, 1086, 1087, 1090, 1093, 1096, 1097, 1098, 1100, 1101, 1105, 1110, 1112, 1113, 1114, 1115, 1116, 1118, 1120, 1122, 1123, 1125, 1126, 1127, 1130, 1132, 1133, 1134, 1135, 1138, 1142, 1143, 1145, 1146, 1147, 1149, 1151]

# Consider the information available in the above two lists and answer the question given below

In [65]:
total = processed_orders.extend(returned_orders)

print(len(total))

TypeError: object of type 'NoneType' has no len()